/* .box1{
    position: absolute;
    top: 50px;
    left: 25%;
    width: 400px;
    height: 500px;
    background:url('../assets/addToy.png');
    background-size: cover;
    background-position: top;
    border: 2px solid red;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
    transition: 3s;
}
.box:hover{
    background-position: bottom;
} */